<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme" />
    </application>
</manifest>
