<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="33"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application>
        <activity
            android:name=".ui.CameraMediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme" />
    </application>
</manifest>
